.card {
    width: 18rem;
    min-width: 375px;
    max-width: 600px;
    min-height: 800px;
    max-height: 900px;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    border: none;
}

.dark {
    box-shadow: rgba(242, 181, 181, 0.943) 0px 2px 5px 0px, rgba(247, 78, 78, 0.765) 0px 1px 1px 0px;
}

.card-img-top {
    display: block;
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.item-no-pic-img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.card-title {
    margin-bottom: 1rem;
}