.footer-background {
    background-color: #F5F5F5;
}

.footer-background2 {
    background-color: #dc3545;
}

.my-footer-btn {
    border: 0;
    background-color: none;
}

.size {
    font-size: 20px;
}